<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Groupie Tracker-Search</title>
</head>
<body>
        <h1 class="logo">Groupie Tracker-Search</h1>
    
<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="What are you looking for?">
    </div>
    <br>
    <div class="results">
    </div>
 </div>
<script type="module">
    import {search} from "../js/search.js"
    search()
</script>
</body>
</html>